<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manong.dao.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.manong.entity.Comment">
        <id column="id" property="id" />
        <result column="courseId" property="courseId" />
        <result column="teacherId" property="teacherId" />
        <result column="memberId" property="memberId" />
        <result column="nickname" property="nickname" />
        <result column="avatar" property="avatar" />
        <result column="content" property="content" />
        <result column="createDate" property="createDate" />
        <result column="modifyDate" property="modifyDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, courseId, teacherId, memberId, nickname, avatar, content, createDate, modifyDate
    </sql>

</mapper>
